

.process-blocks.hover-block {
	background-color: #67AE5C;
  color: #F9F6F1;
}

.hover-block .image{
	filter: invert(100%);
}

.hover-block .lottie-grid{
	filter: invert(100%);
}

.hover-block .h3 {
	color: #F9F6F1;
}

.phone-inside, .sticky-content-blk, .numbered-content {
	opacity: 0;
}

.phone-inside.is-active {
	opacity: 1;
}

.sticky-content-blk.is-active {
	opacity: 1;
}

.numbered-content.is-active {
	opacity: 1;
}

.phone-inside.in-1.is-active .move-grey-card-1, .phone-inside.in-1.is-active .move-grey-card-2 {
  transform: translate(0%, 0px);
}

.phone-inside.in-2.is-active .frame-2a {
  transform: scale(1);
}

.phone-inside.in-2.is-active .frame-2b {
  transform: scale(1);
  transition-delay: 200ms;
}

.phone-inside.in-3.is-active .frame-3a {
  transform: scale(1);
}

.phone-inside.in-3.is-active .frame-3b {
  transform: scale(1);
  transition-delay: 200ms;
}

.phone-inside.in-3.is-active .frame-3c {
  transform: scale(1);
  transition-delay: 400ms;
}

.phone-inside.in-4.is-active .frame-4a {
  transform: scale(1.1);
}

.phone-inside.in-5.is-active .frame-5a {
  transform: scale(1);
}
